*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row-ml{
    margin-left: 0;
    margin-right: 0;
}

.col-pd{
    padding-left: 0;
    padding-right: 0;
}

header .menu .header_nav-link{
    margin-left: 33px;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

header .menu .header_nav-link:hover{
    color: #007d2f
}


/* header end */
/* **************** */
/* section start */

section{
    background: #007d2f;
    padding-top: 115px;
    padding-bottom: 100px;
}

section .bl h2{
    
}

section .bl{
    text-align: center;
    
}

section .bl p{
    margin-top: 42px;
    color: #fff;
    font-size: 17px
}

/* section end */
/* **************** */
/* main start */


main .block .box img{
    width: 100%;
}

main .block .box{
    position: relative;
}

main .block .box a{
    position: absolute;
    width: 100%;
    height: 100%;
    background:  #3c845d93;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    opacity: 0; 
    transition: 0.5s;
}

main .block .box:hover a{
    opacity: 1;
}

/* main end */
/* ************** */
/* footer start */

footer{
    background: black;
    padding-top: 100px
}

footer p{
    font-size: 14px;
    color: rgb(161, 161, 161);
}

footer h5{
    color: rgb(161, 161, 161);
    font-size: 17px
}

